<!DOCTYPE html>
<html lang="en">
<!--<style>-->
<!--.space {-->
<!--		margin-bottom: 20px;-->
<!--	}-->
<!--	.parentDiv {-->
<!--		white-space: nowrap;-->
<!--	}-->
<!--	.child {-->
<!--		display: inline-block;-->
<!--	}-->
<!--	body {-->
<!--		width: 700pt;-->
<!--		margin: 0 auto;-->
<!--		-->
<!--	}-->
<!--	header {-->
<!--		background: -webkit-linear-gradient(gold, DimGray);-->
<!--		-webkit-background-clip: text;-->
<!--		-webkit-text-fill-color: transparent;-->
<!--		font-family: "Roboto+Slab", sans-serif;-->
<!--		font-weight: 900;-->
<!--		font-size: 14pt;-->
<!--		text-align: left;-->
<!--		text-shadow: 4px 2px 2px rgba(150, 150, 150, .3);-->
<!--	}-->
<!--	textarea {-->
<!--		background: url("robot.jpg") center no-repeat;-->
<!--		background-size: auto 100%;-->
<!--		height: auto;-->
<!--		opacity: 0.4;	-->
<!--		box-shadow: 4px 2px 2px rgba(150, 150, 150, .5);-->
<!--	}-->
<!--</style>-->
<head>
    <meta charset="UTF-8">
    <title>Humor Selection</title>
	<link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='css/main.css') }}">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Heebo">
</head>
<body>
<header>
<h1>The Georgia Tech AI Humor Generator Project</h1>
</header>
<div class="parentDiv space">
    <select class="child" id="techniques">
        <option disabled selected value="0"> Select ML script to run </option>
        <option value="1">Option 1</option>
        <option value="2">Option 2</option>
        <option value="3">Option 3</option>
    </select>
    <button class="child" onclick="submitForm()">Run</button>
</div>
<textarea id="textarea" cols="120" rows="20" readonly>Output area</textarea>
</body>
</html>
<script>
    function submitForm() {
        let optionValue = parseInt(document.getElementById("techniques").value)

        if(0 !== optionValue) {
            let http = new XMLHttpRequest()
            http.open("GET", "script?option=" + optionValue, true)
            http.onload = function () {
                let textarea = document.getElementById("textarea")
                textarea.value = ""
                textarea.value = http.response
            }
            http.send(null)
        }
    }
</script>
