<style>
	.space {
		margin-bottom: 20px;
	}
	.parentDiv {
		white-space: nowrap;
	}
	.child {
		display: inline-block;
	}
	body {
		width: 700pt;
		margin: 0 auto;
		
	}
	header {
		background: -webkit-linear-gradient(gold, DimGray);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		font-family: "Roboto+Slab", sans-serif;
		font-weight: 900;
		font-size: 14pt;
		text-align: left;
		text-shadow: 4px 2px 2px rgba(150, 150, 150, .3);
	}
	textarea {
		background: url("robot.jpg") center no-repeat;
		background-size: auto 100%;
		height: auto;
		opacity: 0.4;	
		box-shadow: 4px 2px 2px rgba(150, 150, 150, .5);
	}
	
</style>